/* CSS RESET */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css style mulai dari sini */
.navigasi{
    height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    z-index: 999;
}

a{
    text-decoration: none;
}

.linknav a{
    line-height: 70px;
    color: white;
    float: right;
    margin-right: 20px;
}

.linknav ul li ul li a{
text-align: center;
}

body{
    background-color: rgb(55, 50, 50);
}

.homebutton a{
    line-height: 70px;
    float: left;
    margin-left: 20px;
    color: white;
}
.navigasi a:hover{
    text-decoration: none;
    color: gainsboro;
    border: 1px;
    border-radius: 25%;
    border-color: rgb(48, 41, 41);
    background-color: rgb(48, 41, 41) ;
}

.main {
    margin-left: 10%;
    margin-right: 10%;
}

.mainhome{
    margin-top: 100px;
    padding-top: 75px;
}

.h1home {
    font-weight: bold; 
    font-size: x-large;
    color: white;
    
}



.homekiri{
    float: left;
}

.homekanan{
    margin-top: 100px;
}

.homekanan p{
    text-align: justify;
    color: white;
}

.aboutme{
    padding-top: 200px ;
}

.aboutmeright img{
    float: left;
}

.aboutmeleft{
    padding-top: 100px;
}
.h1aboutme {
    font-weight: bold; 
    font-size: x-large;
    color: white;
    margin-left: 50px;
    
}

.aboutmeleft p{
    color: white;
    text-align: justify;
    margin-left: 50px;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}